.logo-wrapper {
    max-height: 86px;
}

body {
    min-height: 100%;
    font-family: "Ubuntu", "Montserrat", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: normal;
    font-weight: 300;
    background-color: #f5f5f5;
}

#navbarNav > .navbar-nav > .nav-item {
    padding: 30px 25px 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    color: #303439;
    white-space: nowrap;
}

#navbarNav > .navbar-nav > .nav-item > .dropdown-menu * {
    font-size: 12px;
}

#navbarNav > .navbar-nav > .active {
    border-bottom: 3px solid red;
}

.navbar-toggler {
    border: 0;
    outline: 0 !important;
}

h1 {
    font-weight: 300;
}

.gallery-image {
    margin-bottom: 26px;
}


.copyright {
    margin-top: 30px;
    /* position: absolute; */
    /* bottom: 0; */
}

.container-main {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
	max-width: 75vw;
}

b {
    font-weight: 600;
}

.navbar {
	padding: 0;
}

.kontakt-dugmici .btn {
	margin-bottom: 5px;
}

.kontakt-dugmici {
	margin-bottom: 20px;
}